*{
    font-family: 'Josefin Slab', serif;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    height: 50px;
    font-size: 20px;
}

button{
    cursor: pointer;
}

input[type='file']{
    display: none;
}